---
import Layout from "../layouts/Layout.astro";
import { PROJECTS } from "../data/projects.js";
import { InferencePriority, resolveTypeReferenceDirective } from "typescript";
export function getStaticPaths() {
  return [{ params: { project: "gestor-escolar" } }];
}
const { project } = Astro.params;
const info = PROJECTS.find((x) => x.id == project);
if (!info) {
  return Astro.redirect("Index ");
}
---

<Layout title={`Proyecto ${info.tittle}`} description="proyectos">
  <main class="py-20">
    <section class="w-full lg:w-[780px] mx-auto sm:px-10 px-6">
      <h1
        class="text-white text-5xl font-bold flex flex-col gap-x-4 pb-10 items-center">
        {info.tittle}
      </h1>
      <img
        class="rounded-lg"
        src={info.image}
        alt=""
        transition:name={info.id}
      />
      <div class="mt-10">
        <h2 class="text-white text-3xl font-bold items-start mb-2">
          Descripción
        </h2>
        <p
          class="text-left rtl:text-right text-gray-300 opacity-90 dark:text-gray-400">
          {info.descriptioncomplete}
        </p>
      </div>
      <div class="py-5">
        <h2 class="text-white text-3xl font-bold py-5">Tecnologías</h2>
        <ul class="gap-x-2 flex mb-2">
          {
            info.tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-lg text-[8px] xl:text-[14px] lg:text-[12px] ${tag.class} py-1 px-2 border border-white/10 flex  items-center`}>
                  <tag.icon class="size-6" />
                  {tag.name}
                </span>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="py-5">
        <h2 class="text-white text-3xl font-bold py-5 items-start mb-2">
          Lugar / Empresa
        </h2>
        <p
          class="text-left rtl:text-right text-gray-300 opacity-90 dark:text-gray-400">
          Liceo Saltos Del Laja, Cabrero, Chile.
        </p>
      </div>
      <a
        class="flex items-center justify-center w-32 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2  dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700"
        href="/#proyectos"
        >
        <svg
          class="w-5 h-5 rtl:rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
        </svg>
        <span>Volver</span>
      </a>
    </section>
  </main>
</Layout>
