---
import Layout from "../layouts/Layout.astro";
import { PROJECTS } from "../data/projects.js";
import { InferencePriority, resolveTypeReferenceDirective } from "typescript";
export function getStaticPaths() {
  return [{ params: { project: "gestor-escolar" } }];
}
const { project } = Astro.params;
const info = PROJECTS.find((x) => x.id == project);
if (!info) {
  return Astro.redirect("Index ");
}
---

<Layout title={`Proyecto ${info.tittle}`} description="proyectos">
  <main class="mt-10">
    <section class="body-font">
      <div
        class="container mx-auto flex mb-10 px-5 md:flex-row flex-col items-center justify-center">
        <div
          class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
          <h1
            class="title-font sm:text-4xl text-3xl mb-2 font-semibold"
            transition:name={info.tittle}>
            {info.tittle}<br class="hidden lg:inline-block" />
          </h1>
          <h2 class="title-font sm:text-3xl text-2xl mb-4 font-medium">
            {info.company}
          </h2>
          <p class="mb-8 leading-relaxed" transition:name={info.description}>
            {info.descriptioncomplete}
          </p>
          <div>
            <ul class="gap-x-2 flex mb-2 items-center justify-center">
              {
                info.tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-lg text-[8px] xl:text-[14px] lg:text-[12px] ${tag.class} py-1 px-2 border border-white/10 flex  items-center`}>
                      <tag.icon class="size-6" />
                      {tag.name}
                    </span>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-5 lg:px-32 mb-10">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center hover:scale-110 transition-all"
                src={info.image2}/>
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp" />
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 

  </main>
</Layout>

