---
import Layout from "../layouts/Layout.astro";
import { PROJECTS } from "../data/projects.js";
import { InferencePriority, resolveTypeReferenceDirective } from "typescript";
export function getStaticPaths() {
  return [{ params: { project: "gestor-escolar" } }];
}
const { project } = Astro.params;
const info = PROJECTS.find((x) => x.id == project);
if (!info) {
  return Astro.redirect("Index ");
}
---

<Layout title={`Proyecto ${info.tittle}`} description="proyectos">
  <main>
    <section class="w-full lg:w-[780px] mx-auto sm:px-10 px-6">
      <h1
        class="text-white text-5xl font-bold flex flex-col gap-x-4 pb-10 items-center">
        {info.tittle}
      </h1>

      <img
        class="rounded-lg"
        src={info.image}
        alt=""
        transition:name={info.id}
      />
      <h2 class="text-white text-3xl font-bold py-5 items-start">
        Descripción
      </h2>
      <p
        class="text-left rtl:text-right text-gray-300 opacity-90 dark:text-gray-400">
        {info.descriptioncomplete}
      </p>
      <h2 class="text-white text-3xl font-bold py-5">
        Tecnologías
      </h2>
      <ul class="gap-x-2 flex mb-2">
        {
          info.tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-lg text-[10px] lg:text-md font-medium ${tag.class} py-1 px-2 border border-white/10 flex  items-center`}>
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>
      <a
        href="/#proyectos"
        class="py-3 mt-5 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-blue-900 dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
        Volver
      </a>
    </section>
  </main>
</Layout>
